<div class="container" class="pull-right">
        <div class="row">
            <div class="col-sm-2">
                <h5>Search:</h5>
            </div>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="search" placeholder="search">
            </div>
            <br>
            <br>
        </div>
    </div>
    <br>
    <br>
    <br>
    <div class="container" class="pull-right" style="width: 228px">
            <button type="submit" class="btn btn-success">Add Employee</button>
    </div>
    <div class="container">
        <h3><strong>Employee Details</strong></h3>
    </div>
    